<div class="container">
	<div class="container">
		<div class="col-md-8 center-block">
			<h1>Olá!</h1>
			<p>Parece que não existe nenhum servidor SNMP adicionado. Que tal
				adicionar o primeiro servidor?</p>
		</div>
		<form class="center-block">
			<div class="col-md-6">
				<div class="input-group" style="margin: 2px;">

					<span class="input-group-addon"> Endereço: </span> <input
						ng-model="snmp.address" class="form-control" type="text"
						placeholder="Endereço"> </span>
				</div>
				<div class="input-group" style="margin: 2px;">
					<span class="input-group-addon">Porta:</span> <input
						ng-model="snmp.port" class="form-control" type="text"
						placeholder="Porta">
				</div>
				<div class="input-group" style="margin: 2px;">
					<span class="input-group-addon">Community:</span> <input
						ng-model="snmp.community" class="form-control" type="text"
						placeholder="community">
				</div>
				<button type="button" class="btn btn-primary pull-right"
					style="margin: 2px; align: right;" ng-click="save(snmp)">
					<span class="fa fa-plus"></span> Adicionar
				</button>
			</div>
		</form>
	</div>
</div>