<div>
	<ul class="nav nav-tabs">
		<li ng-repeat="host in hosts"
			ng-class="{active : host.active == true}"><a
			ng-click="active(host)">{{host.address}}</a></li>
		<li ng-class="{active : addNew == true}"><a
			ng-click="activeNew()"><i class="fa fa-plus"></i></a></li>
	</ul>
</div>

<div ng-if="addNew == true">
	<div ng-include="'pages/firsttime.html'"
		ng-controller="FirstTimeController"></div>
</div>

<div ng-if="addNew == false" class="col-md-8">
	<div ng-repeat="mib in mibs">
	<div class="input-group" style="margin: 2px;">
					<span class="input-group-addon">{{mib.name}}:</span> 
					<input
						class="form-control" type="text" value="{{mib.value}}" disabled/>
				</div>
	</div>
</div>

